body {
  margin: 0;
  font: 16px 'HelvetivaNeue', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
}

#login {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  padding-top: 300px;
  color: #fff;
  background: #222;
  z-index: 10;
}

#login strong {
  font-size: 30px;
  font-weight: 100;
}

#login form {
  padding: 15px;
}

#login .status {
  display: block;
  padding-top: 15px;
}

#login input,
#login button {
  border: 0;
  outline: 0;
  margin: 10px;
  opacity: 0.8;
  cursor: pointer;
  font-size: 14px;
  background: #fff;
  padding: 10px 15px;
  border-radius: 3px;
  transition: all 0.1s ease;
  -webkit-font-smoothing: antialiased;
}

#login button {
  margin: 10px 8px;
}

#login input:focus,
#login button:focus {
  position: relative;
  left: 5px;
  opacity: 1;
}

#login input:hover,
#login button:hover {
  opacity: 1;
}

#app {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  transition: all 0.1s ease;
}

#app.active {
  pointer-events: auto;
  opacity: 1;
}

#header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  line-height: 50px;
  background: #222;
}

#header a {
  color: #fff;
  float: right;
  height: 50px;
  padding: 0 15px;
  text-decoration: none;
}

#header a:hover {
  background: #000;
}

#sidebar {
  position: absolute;
  top: 50px;
  left: 0;
  bottom: 0;
  width: 300px;
  background: #eee;
}

#conversations .noConversations {
  opacity: 0.9;
  padding: 100px 0;
  text-align: center;
}

#conversations .conversation {
  padding: 10px;
  margin-top: 1px;
  margin-right: 1px;
  user-select: none;
  background: #fafafa;
}

#conversations .conversation:hover,
#conversations .conversation.active {
  cursor: pointer;
  background: #fff;
}

#conversations .conversation .username {
  display: block;
  font-weight: bold;
}

#main {
  position: absolute;
  top: 50px;
  left: 300px;
  right: 0;
  bottom: 0;
}

#startConversation {
  padding: 100px 0;
  text-align: center;
  pointer-events: auto;
  transition: all 0.1s ease;
}

#startConversation.hidden {
  opacity: 0;
  pointer-events: none;
}

#startConversation input {
  margin-bottom: 20px;
}

#conversation {
  opacity: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: all 0.1s ease;
}

#conversation.active {
  opacity: 1;
  pointer-events: auto;
}

#chatInput {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 20px 0;
  width: 100%;
  border: 0;
}

#messages {
  padding: 15px;
}

#messages .username {
  padding-right: 10px;
  font-weight: bold;
}


