rpyc
pycryptodome
pefile 
pyyaml
rsa
netaddr
ecdsa==0.13
paramiko==2.10.1
tinyec
psutil
netifaces
m2crypto
pylzma
mss
colorama
pyOpenSSL
scapy
impacket
pyuv
dnslib
http-parser
cerberus
logutils
secretstorage
pygments
