# {{ ansible_managed }}

data_directory = '/var/lib/postgresql/{{ pg_ver }}/main'
hba_file = '/etc/postgresql/{{ pg_ver }}/main/pg_hba.conf'
ident_file = '/etc/postgresql/{{ pg_ver }}/main/pg_ident.conf'
external_pid_file = '/var/run/postgresql/{{ pg_ver }}-main.pid'

listen_addresses = '*'
port = 5432

unix_socket_directories = '/var/run/postgresql'

{% if production %}
ssl = on
ssl_ciphers = '{{ ssl_ciphers|join(':') }}'
ssl_prefer_server_ciphers = on
ssl_cert_file = '/var/lib/postgresql/{{ pg_ver }}/main/{{ crypton_domain }}-wildcard.pem'
ssl_key_file = '/var/lib/postgresql/{{ pg_ver }}/main/{{ crypton_domain }}-wildcard.pem'
{% endif %}

{% if production %}
# settings for production
max_connections = 2000
shared_buffers = 4096MB
work_mem = 4MB
maintenance_work_mem = 128MB
effective_cache_size = 8192MB
{% else %}
# settings for dev
max_connections = 200
shared_buffers = 24MB
work_mem = 1MB
maintenance_work_mem = 16MB
{% endif %}

{% if development %}
# dev only
fsync = off
{% endif %}

{% if inventory_hostname in groups.database_master %}
# master db settings
wal_level = hot_standby
wal_buffers = 16MB
archive_mode = on
# TODO fixme archive command
#archive_command = 'rsync -a %p {{
    database_archive_path|default("/var/lib/posgresql/backups")}}'
archive_command = '/bin/true %p'
archive_timeout = 300
max_wal_senders = 5
wal_keep_segments = 100
{% elif inventory_hostname in groups.database_slaves %}
hot_standby = on
{% endif %}

autovacuum_max_workers = 1
commit_delay = 100
commit_siblings = 5
checkpoint_segments = 20
checkpoint_timeout = 15min

log_directory = '/var/log/postgresql'
log_destination = csvlog
logging_collector = on
log_rotation_age = 1d
log_rotation_size = 100MB
client_min_messages = notice
log_min_messages = notice
log_min_error_statement = panic
log_error_verbosity = default
log_min_duration_statement = 5000
log_duration = off
log_hostname = on
log_connections = on
log_disconnections = on
{% if development %}
# log every statement in dev
log_min_duration_statement = 0
log_statement = all # off, ddl, mod, all
{% endif %}
log_line_prefix = '%t %a %u'
